name: Release latest gateway version

on:
  push:
    branches:
      - "main"
  workflow_dispatch:

jobs:
  push_to_registries:
    name: Push Docker image to multiple registries
    runs-on: ubuntu-latest
    permissions:
      packages: write
      contents: read
    steps:
      - name: Check out the repo
        uses: actions/checkout@v5

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up QEMU  # for cross-compilation
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: |
            creatorsim/creator-gateway-esp32
            ghcr.io/${{ github.repository }}
          tags: |
            # set latest tag for default branch
            type=raw,value=latest,enable={{is_default_branch}}

      - name: Build and push Docker images
        id: push
        uses: docker/build-push-action@v6
        with:
          context: .
          platforms: linux/amd64,linux/arm64
          push: ${{ github.repository == 'creatorsim/creator-gateway-esp32' }} # only if official repo
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}

  package:
    name: Package gateway
    runs-on: ubuntu-latest
    steps:
      - name: Zip gateway
        uses: actions/checkout@v5
      - name: Package gateway
        run: |
          cd esp32c3 && zip -9rq ../esp32.zip .
      - name: Upload gateway
        uses: actions/upload-artifact@v4
        with:
          name: esp32
          path: esp32.zip
          if-no-files-found: error

  release:
    name: Publish release
    runs-on: ubuntu-latest
    needs: [package]
    permissions:
      contents: write
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Download all artifacts
        uses: actions/download-artifact@v4
        with:
          path: artifacts
          merge-multiple: true
      - name: Delete latest tag
        run: gh release delete latest --cleanup-tag || true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Publish release
        run: |
          gh release create latest artifacts/esp32.zip \
            --title "CREATOR SBC Gateway" \
            --latest \
            --target ${{ github.sha }} \
            --notes "Latest version of the CREATOR ESP32 Gateway"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}